<!-- <h1>Hello Property</h1> -->

<div class="shadow-lg card">
    <div class="card-body p-2">
        <div class="card-img-wrapper">
            <img class="card-img-top" src="assets/images/house.jpeg">
            <ul class="list-inline text-center member-icons animate">
                <li class="list-inline-item"><button class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></button></li>
                <li class="list-inline-item"><button class="btn btn-primary"><i class="fa-solid fa-address-book"></i></button></li>
            </ul>
        </div>
        
        <h1>{{property.Type}}</h1>
        <h2>{{property.Name}}</h2>
        <h3>{{property.Price}}</h3>
    </div>
</div>
